{% extends "base.html" %}

{% block content %}

<h2 class="text-info mb-3">🏋 Trainers</h2>

<div class="card bg-secondary p-3">

    <table class="table table-dark table-hover">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Specialization</th>
            <th>Phone</th>
        </tr>

        {% for t in trainers %}
        <tr>
            <td>{{ t[0] }}</td>
            <td>{{ t[1] }}</td>
            <td>{{ t[2] }}</td>
            <td>{{ t[3] }}</td>
        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}